* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    background: #232323;
    font-family: "Avenir Next", "Avenir", sans-serif;
    background-color: #89cff0;
}

.cart-logo {
    float: right;
    margin-left: 1rem;
    margin-top: 0.1rem;
}

/* NAVBAR */
.logo {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    float: right;
    margin-top: 1rem;
    margin-right: 2rem;
}

.logo h3 {
    color: #fbe573;
}

#menuToggle {
    display: block;
    position: relative;
    top: 1rem;
    left: 50px;
    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
    max-width: 1170px;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;

    opacity: 0;

    z-index: 2;


    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: black;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}


#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 160px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle input:checked~ul {
    transform: none;
}

/* PRODUCT TOGGLE */

.sandwich-toggle {
    display: none;
}

.sandwich-toggle a li {
    opacity: 70%;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* SLIDESHOW */

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    margin-top: 4rem;
}

.slideshow-container img {
    height: 50rem
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    color: #89cff0;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* MOBILE */

.mobile {
    display: none;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

@media only screen and (min-width: 1700px) {
    .dot {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .slideshow-container {
        display: none;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 3rem;
    }

    .mobile img {
        height: 18rem;
        padding: 10px;
    }

    .dot {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .slideshow-container img {
        height: 25rem;
    }
}

@media only screen and (min-width: 1600px) {
    .slideshow-container {
        max-width: 1400px;
    }
}

/* PRODUCTS PAGE */

/* LASHES */

.lash-container {
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    width: 100%;
}

.faux-mink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.faux-description {
    color: black;
    text-align: center;
}

.real-mink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.real-description {
    color: black;
    text-align: center;
}

.lash-container img {
    height: 15rem;
    width: 20rem;
}

/* TWEEZER */

.tweezer {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.tweezer img {
    margin: auto;
    height: 15rem;
}

.tweezer-description {
    color: black;
    text-align: center;
}

.tweezer-price {
    margin-left: 1.5rem;
}

.tweezer-info {
    margin: auto;
}

/* LIP GLOSS */

.gloss-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.gloss-image {
    margin: auto;
}

.gloss-description {
    margin: auto;
}

.gloss-container img {
    height: 15rem;
}